@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  overflow-x: hidden;
}

html body {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
  padding-right: 0 !important; /* SweetAlert2 generates a padding-right of 17px that breaks the layout */
}

.custom_content{
  margin: 0.75rem auto;
  width: 91.666667%;
}

h2.custom_title{
  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(12 30 94 / var(--tw-text-opacity));
  font-weight: 700;
}

@media (min-width: 1280px) {
  h2.custom_title {
      font-size: 1.5rem/* 24px */;
      line-height: 2rem/* 32px */;
  }
}

@media (min-width: 1536px) {
  .custom_content{
    width: 66.666667%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?d2ki3p');
  src:  url('../assets/fonts/icomoon.eot?d2ki3p#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?d2ki3p') format('truetype'),
    url('../assets/fonts/icomoon.woff?d2ki3p') format('woff'),
    url('../assets/fonts/icomoon.svg?d2ki3p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e915";
}
.icon-delete:before {
  content: "\e916";
}
.icon-alert:before {
  content: "\e914";
}
.icon-user-c:before {
  content: "\e910";
}
.icon-branch:before {
  content: "\e911";
}
.icon-business:before {
  content: "\e912";
}
.icon-users-g:before {
  content: "\e913";
}
.icon-shop:before {
  content: "\e90f";
}
.icon-arrow-rotate:before {
  content: "\e90b";
}
.icon-global:before {
  content: "\e90c";
}
.icon-ranking:before {
  content: "\e90d";
}
.icon-truck:before {
  content: "\e90e";
}
.icon-arrowl:before {
  content: "\e909";
}
.icon-arrowr:before {
  content: "\e90a";
}
.icon-bars:before {
  content: "\e908";
}
.icon-cart:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
}
.icon-globe:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-tiktok:before {
  content: "\e904";
}
.icon-xmark:before {
  content: "\e905";
}
.icon-bin2:before {
  content: "\e9ad";
}
